.gauche{
    background-image: repeating-linear-gradient(180deg, #f9731647, #f9731647 12px, transparent 12px, transparent 16px);
    background-position: right top;
    background-repeat: repeat-y;
    background-size: 1px 100%;
}

.trait{
    background-image: repeating-linear-gradient(90deg, #f9731647, #f9731647 12px, transparent 12px, transparent 16px);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 100% 1px;
}

.traitLight{
    background-image: repeating-linear-gradient(90deg, #0000008a, #0000008a 12px, transparent 12px, transparent 16px);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 100% 1px;
}


.gaucheLight{
    background-image: repeating-linear-gradient(180deg, #0000008a, #0000008a 12px, transparent 12px, transparent 16px);
    background-position: right top;
    background-repeat: repeat-y;
    background-size: 1px 100%;
}


@media screen and (max-width: 1080px){
    .gauche{
        background-image: none
    }    
}