<div class="mt-60 border-t-[1px] border-dashed border-[#f9731647] flex justify-around text-white font-bold pt-8 pb-28 max-sm:grid gap-5 max-sm:mt-28">

    <div class="flex items-center gap-5 max-sm:grid max-sm:place-items-center">
        <div class="flex gap-5 max-sm:">
            <img ngSrc="logoBabs.png" alt="logo" width="40" height="40" class="cursor-pointer" priority="high">
            <img ngSrc="nocturne.svg" alt="icon" width="30" height="30" class="cursor-pointer">
        </div>

        <div class="flex gap-5">
            <div class="cursor-pointer hover:text-orange-500 duration-200 overflow-hidden">
                A propos
              </div>
              <div class="cursor-pointer hover:text-orange-500 duration-200 overflow-hidden">
                Projets
              </div>
              <div class="cursor-pointer hover:text-orange-500 duration-200 overflow-hidden">
                Articles
              </div>
        </div>
    </div>

    <img ngSrc="copyright.svg" alt="copyright" width="251" height="15">
</div>