<div class="sticky top-0 bg-[#1d20256c] backdrop-blur-3xl flex h-[60px] items-center justify-center max-[1080px]:justify-between max-[1080px]:px-[60px] max-sm:px-[14px] border-b-[1px] border-[#f973161a] z-[60]">
    <div>
        <img ngSrc="logoBabs.png" alt="logo" width="40" height="40" class="cursor-pointer" priority="high">
    </div>
    <div class="flex text-white font-bold text-sm gap-[30px] ml-[390px] mr-[390px] max-[1080px]:hidden">
        <div 
          id="apropos" 
          class="cursor-pointer hover:text-orange-500 duration-200 overflow-hidden"
          (mouseenter)="revealApropos()"
          (mouseleave)="hideApropos()"
        >
            A propos
            <div class="item w-full h-[1px] bg-orange-500 mt-1 translate-x-[60px] duration-500 rounded-full"></div>
        </div>
        <div 
          id="projets" 
          class="cursor-pointer hover:text-orange-500 duration-200 overflow-hidden"
          (mouseenter)="revealProjets()"
          (mouseleave)="hideProjets()"
        >
            Projets
            <div class="item w-full h-[1px] bg-orange-500 mt-1 translate-x-[60px] duration-500 rounded-full"></div>
        </div>
        <div 
          id="articles" 
          class="cursor-pointer hover:text-orange-500 duration-200 overflow-hidden"
          (mouseenter)="revealArticles()"
          (mouseleave)="hideArticles()"
        >
            Articles
            <div class="item w-full h-[1px] bg-orange-500 mt-1 translate-x-[60px] duration-500 rounded-full"></div>
        </div>
    </div>
    <div class="max-[1080px]:hidden">
        <img ngSrc="nocturne.svg" alt="icon" width="30" height="30" class="cursor-pointer">
    </div>

    <!-- dropIcon -->
    <div 
      class="hidden max-[1080px]:block cursor-pointer"
      (click)="droplist()"
    >
        <img ngSrc="drop.svg" alt="dropMenu" width="26" height="23">
    </div>
</div>

<!-- dropList -->
<div id="drop" class="w-full h-full z-[70] fixed top-0 translate-x-full duration-500 flex">
    <div  class="w-full h-full bg-[#0000007c]" (click)="droplist()"></div>
    <div id="dropList" class=" h-full ml-auto translate-x-full duration-700 bg-[#f97416] w-[200px] pt-10  text-xl text-center font-semibold text-white ">
        <img ngSrc="close.svg" alt="close" width="30" height="30" class="ml-auto mb-5 cursor-pointer mr-2" (click)="droplist()">
        <div class="cursor-pointer hover:text-stone-500 duration-200 overflow-hidden">
          A propos
        </div>
        <div class="cursor-pointer hover:text-stone-500 duration-200 overflow-hidden mt-4">
          Projets
        </div>
        <div class="cursor-pointer hover:text-stone-500 duration-200 overflow-hidden mt-4">
          Articles
        </div>
      <img ngSrc="nocturne.svg" alt="icon" width="30" height="30" class="cursor-pointer mx-auto mt-4">
    </div>
</div>
