<div class="sticky top-0 bg-[#1d2025c0] backdrop-blur-3xl flex h-[60px] items-center justify-center max-[1080px]:justify-between max-[1080px]:px-[60px] max-sm:px-5 border-b-[1px] border-[#f973161a] z-[60]">
    <div routerLink="/acceuil">
        <img ngSrc="logoBabs.png" alt="logo" width="40" height="40" class="cursor-pointer hover:animate-spin" priority="high">
    </div>
    <div class="flex text-white font-bold text-sm gap-[30px] ml-[380px] mr-[370px] max-[1080px]:hidden">
        <div 
          id="apropos" 
          class="cursor-pointer hover:text-orange-500 duration-200 overflow-hidden"
          (mouseenter)="revealApropos()"
          (mouseleave)="hideApropos()"
          (click)="apropos()"          
          [class.text-orange-500]="nav =='apropos'"
        >
            A propos
            <div 
              class="item w-full h-[1px] bg-orange-500 mt-1  duration-500 rounded-full"
              [class.translate-x-0]="nav =='apropos'"
              [class.translate-x-[60px]]="nav !='apropos'"
            ></div>
        </div>
        <div 
          id="projets" 
          class="cursor-pointer hover:text-orange-500 duration-200 overflow-hidden"
          (mouseenter)="revealProjets()"
          (mouseleave)="hideProjets()"
          routerLink="/projets"
          [class.text-orange-500]="nav =='projets'"
        >
            Projets
            <div 
              class="item w-full h-[1px] bg-orange-500 mt-1 translate-x-[60px] duration-500 rounded-full"
              [class.translate-x-0]="nav =='projets'"
              [class.translate-x-[60px]]="nav !='projets'"
            ></div>
        </div>
        <div 
          id="articles" 
          class="cursor-pointer hover:text-orange-500 duration-200 overflow-hidden"
          (mouseenter)="revealArticles()"
          (mouseleave)="hideArticles()"
          routerLink="/articles"
          [class.text-orange-500]="nav =='articles'"
        >
            Articles
            <div 
              class="item w-full h-[1px] bg-orange-500 mt-1 translate-x-[60px] duration-500 rounded-full"
              [class.translate-x-0]="nav =='articles'"
              [class.translate-x-[60px]]="nav !='articles'"
            ></div>
        </div>
    </div>
    <div id="mode" class="max-[1080px]:hidden flex gap-2">
        <div class="w-[60px] h-[30px] flex outline outline-[1px] outline-orange-500 rounded-full">
          <div 
            class="rounded-full h-[30px] w-[30px] flex items-center justify-center cursor-pointer duration-150"
            [class.stroke-orange-500] = 'skill() == "ux"'
            [class.stroke-[#1D2025]] = 'skill() == "dev"'
            [class.bg-orange-500] = 'skill() == "dev"'
            (click)="basculerDev()"
          >
            <svg class="w-[19px] h-[19px] max-sm:w-[35px] max-sm:h-[35px]" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M35.25 31.3333L43.0833 23.5L35.25 15.6667"  stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M11.7493 15.6667L3.91602 23.5L11.7493 31.3333"  stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M28.3952 7.83334L18.6035 39.1667"  stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>  
          </div>
          <div 
            class="rounded-full h-[30px] w-[30px] flex items-center justify-center cursor-pointer duration-150"
            [class.stroke-orange-500] = 'skill() == "dev"'
            [class.stroke-[#1D2025]] = 'skill() == "ux"'
            [class.bg-orange-500] = 'skill() == "ux"'
            (click)="basculerUx()"
          >
            <svg class="w-[19px] h-[19px] max-sm:w-[35px] max-sm:h-[35px]"  viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M35.25 39.1667C35.25 36.0504 34.0121 33.0617 31.8085 30.8582C29.605 28.6546 26.6163 27.4167 23.5 27.4167C20.3837 27.4167 17.395 28.6546 15.1915 30.8582C12.9879 33.0617 11.75 36.0504 11.75 39.1667"  stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.4993 27.4167C27.8256 27.4167 31.3327 23.9096 31.3327 19.5833C31.3327 15.2571 27.8256 11.75 23.4993 11.75C19.1731 11.75 15.666 15.2571 15.666 19.5833C15.666 23.9096 19.1731 27.4167 23.4993 27.4167Z"  stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.4993 43.0833C34.3149 43.0833 43.0827 34.3156 43.0827 23.5C43.0827 12.6844 34.3149 3.91666 23.4993 3.91666C12.6838 3.91666 3.91602 12.6844 3.91602 23.5C3.91602 34.3156 12.6838 43.0833 23.4993 43.0833Z" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>

        </div>
        <img [src]="source" alt="icon" width="30" height="30" class="cursor-pointer hover:animate-spin" (click)="Darkmode()">
    </div>

    <!-- dropIcon -->
    <div 
      class="hidden max-[1080px]:block cursor-pointer"
      (click)="droplist()"
    >
        <img ngSrc="drop.svg" alt="dropMenu" width="26" height="23">
    </div>
</div>

<!-- dropList -->
<div id="drop" class="w-full h-full z-[70] fixed top-0 translate-x-full duration-500 flex">
    <div  class="w-full h-full bg-[#0000007c]" (click)="droplist()"></div>
    <div id="dropList" class=" h-full ml-auto translate-x-full duration-700 bg-[#f97416] w-[200px] pt-10  text-xl text-center font-semibold text-white ">
        <img ngSrc="close.svg" alt="close" width="30" height="30" class="ml-auto mb-5 cursor-pointer mr-2" (click)="droplist()">
        <div class="cursor-pointer hover:text-stone-500 duration-200 overflow-hidden" routerLink="/apropos">
          A propos
        </div>
        <div class="cursor-pointer hover:text-stone-500 duration-200 overflow-hidden mt-4" routerLink="/projets">
          Projets
        </div>
        <div class="cursor-pointer hover:text-stone-500 duration-200 overflow-hidden mt-4" routerLink="/articles">
          Articles
        </div>
      <img [src]="source2" alt="icon" width="30" height="30" class="cursor-pointer mx-auto mt-4" (click)="Darkmode()">
      <div class="w-[60px] h-[30px] flex outline outline-[1px] outline-white rounded-full mt-4 mx-auto">
        <div 
          class="rounded-full h-[30px] w-[30px] flex items-center justify-center cursor-pointer duration-150"
          [class.stroke-white] = 'skill() == "ux"'
          [class.stroke-orange-500] = 'skill() == "dev"'
          [class.bg-white] = 'skill() == "dev"'
          (click)="basculerDev()"
        >
          <svg class="w-[19px] h-[19px]" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M35.25 31.3333L43.0833 23.5L35.25 15.6667"  stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11.7493 15.6667L3.91602 23.5L11.7493 31.3333"  stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M28.3952 7.83334L18.6035 39.1667"  stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>  
        </div>
        <div 
          class="rounded-full h-[30px] w-[30px] flex items-center justify-center cursor-pointer duration-150"
          [class.stroke-white] = 'skill() == "dev"'
          [class.stroke-orange-500] = 'skill() == "ux"'
          [class.bg-white] = 'skill() == "ux"'
          (click)="basculerUx()"
        >
          <svg class="w-[19px] h-[19px]"  viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M35.25 39.1667C35.25 36.0504 34.0121 33.0617 31.8085 30.8582C29.605 28.6546 26.6163 27.4167 23.5 27.4167C20.3837 27.4167 17.395 28.6546 15.1915 30.8582C12.9879 33.0617 11.75 36.0504 11.75 39.1667"  stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M23.4993 27.4167C27.8256 27.4167 31.3327 23.9096 31.3327 19.5833C31.3327 15.2571 27.8256 11.75 23.4993 11.75C19.1731 11.75 15.666 15.2571 15.666 19.5833C15.666 23.9096 19.1731 27.4167 23.4993 27.4167Z"  stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M23.4993 43.0833C34.3149 43.0833 43.0827 34.3156 43.0827 23.5C43.0827 12.6844 34.3149 3.91666 23.4993 3.91666C12.6838 3.91666 3.91602 12.6844 3.91602 23.5C3.91602 34.3156 12.6838 43.0833 23.4993 43.0833Z" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>

      </div>

    </div>
</div>
